:root {
    --darkui-background: rgba(0, 0, 50, 1);
    --darkui-text-regular: rgba(255, 255, 255, 1);
    --darkui-text-regular-2: rgba(0, 0, 0, 1);
    --darkui-accent: #DA4168;
    --darkui-background-secondary: rgba(26, 26, 71, 1);
    --darkui-fields: rgba(255, 255, 255, 0.1);
    --darkui-fields-2: rgba(255, 255, 255, 0.5);
    --darkui-card: rgba(0, 0, 0, 1);
    --darkui-card-2: rgba(41, 44, 54, 1);
    --darkui-card-3: rgba(33, 3, 18, 1);
    --darkui-card-4: rgba(255, 255, 255, 1);
    --darkui-text-additional: rgba(255, 255, 255, 0.4);

    --darker: rgba(0, 3, 5, 1);
    --some-gold-text: rgba(235, 235, 211, 1);
    --accent-dark-button-text: rgba(17, 21, 34, 1);
    --modal-background: rgba(41, 44, 54, 1);
    --footer-background: rgba(0, 0, 0, 1);
    --footer-links-title: #DA4168;

    --user-menu-icon-color: #DA4168;

    --footer-warning-background: rgba(0, 0, 50, 1);

    --mobile-menu-navigation-highlighted: rgba(33, 3, 18, 1);
    --mobile-menu-navigation-secondary-background: rgb(109, 109, 109);
    --mobile-menu-navigation-secondary-text: rgb(0, 0, 0);
    --mobile-menu-overlay-background: rgba(33, 3, 18, 0.7);

    --game-card-highlighted-border: rgb(233, 8, 0);
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--darkui-background);
    color: #fff;
    line-height: normal;
}

@media(max-width: 992px) {
    body {
        background-color: var(--darkui-background)
    }
}

* {
    box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

button {
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit
}

button,
input {
    color: inherit;
    background: none;
    border: none
}

input {
    font-family: inherit;
    font-size: inherit
}

input:focus {
    outline: none
}

[role=button],
a,
button,
label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer
}

a {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none
}

p {
    padding: 0;
    margin: 0
}

:focus-visible {
    outline: none
}

ul,
ul li {
    text-indent: 0;
    list-style: none;
    list-style-type: 0
}

fieldset,
ul,
ul li {
    padding: 0;
    margin: 0
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px
}

.container {
    min-width: 0;
    padding: 0 10px;
    flex: 1 1;
    display: flex;
    flex-direction: column
}

@media(max-width: 1700px) {
    .container {
        padding: 0 10px
    }
}

.content {
    flex: 1 1
}

.full-width {
    width: 100%
}

.loader-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 100%, .5);
    z-index: 10
}

.skeleton-loader-parent {
    position: relative;
    overflow: hidden
}

.skeleton-loader-overlay {
    width: 100px;
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    position: absolute;
    top: 0;
    bottom: 0;
    left: -150px;
    z-index: 1;
    transform: skewX(-40deg);
    animation: skeleton-loader-overlay-movement 1s linear infinite
}

@keyframes skeleton-loader-overlay-movement {
    0% {
        transform: skewX(-40deg) translateX(0)
    }

    to {
        transform: skewX(-40deg) translateX(660px)
    }
}

.skeleton-loader-overlay-large {
    width: 200px;
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .05), rgba(255, 255, 255, 0));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transform: skewX(-40deg);
    animation: skeleton-loader-overlay-movement-large 1.5s linear infinite
}

@media(max-width: 992px) {
    .skeleton-loader-overlay-large {
        background-image: linear-gradient(270deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1), rgba(255, 255, 255, 0))
    }
}

@keyframes skeleton-loader-overlay-movement-large {
    0% {
        transform: skewX(-40deg) translateX(-600px)
    }

    to {
        transform: skewX(-40deg) translateX(1300px)
    }
}

.h1 {
    font-weight: 600;
    font-size: 28px
}

@media(max-width: 992px) {
    .h1 {
        font-size: 18px
    }
}

.h2 {
    font-size: 18px;
    font-weight: 700
}

.body1 {
    font-weight: 500;
    color: #545473
}

.body1,
.body2 {
    font-size: 14px
}

.body2 {
    font-weight: 400;
    color: #fff
}

.highlighted {
    background: linear-gradient(276deg, #4dc9ff, #005ec7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0)
}

.overflow-hidden {
    overflow: hidden
}

.overflow-visible {
    overflow: visible
}

.vertical-space-lg {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.hidden {
    display: none !important
}

.block {
    display: block !important
}

.flex {
    display: flex !important
}

.inline {
    display: inline !important
}

.relative {
    position: relative
}

@media(max-width: 1600px) {
    .xxl\:hidden {
        display: none !important
    }

    .xxl\:block {
        display: block !important
    }

    .xxl\:flex {
        display: flex !important
    }

    .xxl\:inline {
        display: inline !important
    }
}

@media(max-width: 1400px) {
    .xl-larger\:hidden {
        display: none !important
    }

    .xl-larger\:block {
        display: block !important
    }

    .xl-larger\:flex {
        display: flex !important
    }

    .xl-larger\:inline {
        display: inline !important
    }
}

@media(max-width: 1300px) {
    .xl\:hidden {
        display: none !important
    }

    .xl\:block {
        display: block !important
    }

    .xl\:flex {
        display: flex !important
    }

    .xl\:inline {
        display: inline !important
    }
}

@media(max-width: 768px) {
    .md\:hidden {
        display: none !important
    }

    .md\:block {
        display: block !important
    }

    .md\:flex {
        display: flex !important
    }

    .md\:inline {
        display: inline !important
    }
}

@media(max-width: 992px) {
    .lg\:hidden {
        display: none !important
    }

    .lg\:block {
        display: block !important
    }

    .lg\:flex {
        display: flex !important
    }

    .lg\:inline {
        display: inline !important
    }
}

@media(max-width: 576px) {
    .sm\:hidden {
        display: none !important
    }

    .sm\:block {
        display: block !important
    }

    .sm\:flex {
        display: flex !important
    }

    .sm\:inline {
        display: inline !important
    }
}

@media(max-width: 480px) {
    .xs\:hidden {
        display: none !important
    }

    .xs\:block {
        display: block !important
    }

    .xs\:flex {
        display: flex !important
    }

    .xs\:inline {
        display: inline !important
    }
}

@media(max-width: 360px) {
    .xxs\:hidden {
        display: none !important
    }

    .xxs\:block {
        display: block !important
    }

    .xxs\:flex {
        display: flex !important
    }

    .xxs\:inline {
        display: inline !important
    }
}

.providers-carousel_providersCarouselContainer {
    display: flex;
    align-items: center;
    padding-block:10px;background-color: #1a1a47;
    padding-inline:10px;-ms-overflow-style: none;
    scrollbar-width: none
}

.providers-carousel_providersCarouselContainer::-webkit-scrollbar {
    display: none
}

.providers-carousel_providerItem {
    flex: 0 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--darkui-text-regular);
    cursor: pointer;
    max-width: 80px
}

.providers-carousel_providerItem.providers-carousel_active,.providers-carousel_providerItem:hover {
    color: var(--darkui-accent)
}

.providers-carousel_providerItem.providers-carousel_active .providers-carousel_providerItemIcon,.providers-carousel_providerItem:hover .providers-carousel_providerItemIcon {
    border: 1px solid var(--darkui-accent);
    box-shadow: 0 0 6px 0 #da4167
}

.providers-carousel_providerItemIcon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--darker);
    margin: 0 auto
}

.providers-carousel_providerItemLabel {
    max-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 11px;
    line-height: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.providers-carousel_providerSlideIcon {
    display: grid;
    place-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #9797a4;
    cursor: pointer
}

.providers-carousel_providerSlideIcon:disabled {
    opacity: .5;
    pointer-events: none
}

.providers-carousel_swiper {
    flex: 1 1
}

.button-support {
    display: inline-flex;
    height: 30px;
    background: linear-gradient(0deg, #fde500ff 0%, rgb(253, 202, 0) 100%);
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    min-width: 30px;
    border: none;
    cursor: pointer;
    color: #f2008d;
    border-radius: 5px;
    padding: 0px;
    margin-right: 0;
}

.button-support>img {
    width: 28px;
}

.apigames-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    margin: 0 auto;
    background: rgb(46 39 0 / 85%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9991;
    font-family: "principal", Arial, sans-serif;
    color: #FFF;
    font-size: 13px;
}

.apigames-popup-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.apigames-popup .apigames-popup-content {
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #020711;
    max-height: calc(100vh - 32px);
    height: auto;
    max-width: 550px;
    min-width: 550px;
    min-height: 180px;
    border-radius: 20px;
    overflow: auto;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 50%);
}

@media (max-width: 560px) {
    .apigames-popup .apigames-popup-content {
        max-width: calc(100% - 20px);
        max-height: calc(100% - 20px);
        min-width: calc(100% - 20px);
        width: 100%;
        max-height: -webkit-fill-available;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.apigames-popup .apigames-popup-content-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
}

.apigames-popup .apigames-popup-content-header .close {
    width: 30px;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 15px;
    top: 15px;
    color: #ffffff;
    cursor: pointer;
}

.apigames-popup .apigames-popup-content-header .close>svg {
    fill: currentcolor;
    color: white;
}

.apigames-pl20 {
    padding-left: 20px;
}

.apigames-pr20 {
    padding-right: 20px;
}
.apigames-pb20 {
    padding-bottom: 20px;
}

.gradient-title {
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    flex-direction: row;
    min-width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: 700;
    display: flex;
}

.gradient-title-lateral {
    align-items: center;
    width: 100%;
    display: flex;
    margin: 7px;
}

.gradient-title-left>div {
    background: linear-gradient(270deg, rgb(255, 255, 255), rgba(0, 0, 0, 0) 80%);
}

.gradient-title-right>div {
    background: linear-gradient(90deg, rgb(255, 255, 255), rgba(0, 0, 0, 0) 80%);
}

.gradient-title-lateral>div {
    width: 100%;
    height: 5px;
}

.gradient-title-no-wrap {
    text-wrap: nowrap;
}

.modal-content-support-network {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.modal-content-support-network>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.btn-copy {
    padding-block: 1px;
    padding-inline: 6px;
    display: inline-flex;
    height: 30px;
    background: linear-gradient(0deg, rgb(152, 152, 152), white);
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    border: none;
    cursor: pointer;
    color: black;
    border-radius: 5px;
}

.modal-content-support-network img {
    width: 20px;
    margin-right: 10px;
}

.btn-support-close {
    text-transform: uppercase;
    cursor: pointer;
    min-width: 100px;
    height: 30px;
    background: linear-gradient(0deg, #fde500ff 0%, rgb(253, 202, 0) 100%);
    justify-content: center;
    align-items: center;
    font-weight: 700;
    display: inline-flex;
    border-radius: 5px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    text-decoration: none;
    color: #000;
}

.full-width {
    width: 100%;
}

.margin-top-3em {
    margin-top: 3rem;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    max-width: 80vw;
    width: 80vw;
    font-size: 12px;
    font-family: "principal", Arial, sans-serif;
}

.alert-success {
    color: #1d4e10;
    background-color: #c3ffd8;
    border-color: #46be39;
}

#success-alert, #error-alert {
    display: none;
    z-index: 9999;
    right: 0;
    margin: 60px 0 0;
    border-radius: .4rem !important;
    position: fixed;
    top: 30px;
    left: 10vw;
}

@media (max-width: 768px) {
    #success-alert, #error-alert {
        margin: 0;
    }
}